.navbar {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
}

#nav-container > a, .navbar-nav, .navbar-light .nav-link {
    color: #fff !important;
}

#nav-container > a,
.navbar-nav,
.navbar-light .nav-link:hover{
color: #ccc !important;
}

.navbar-brand {
    font-size: 1.4em;
    color: #fff !important;
}

.navbar-brand:hover {
    color: #ccc !important;
}

.navbar-collapse {
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #4d4d4d;
}